
body {
  margin: 0;
  padding: 0;
  color: #f5f5f5;
  font-family: sans-serif;
}
/* menu nav bar  */
nav {
  font-family: 'Shojumaru', cursive;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Asegura separación entre menú y botón */
  background-color: #222;
  padding: 15px 15px;
  flex-wrap: wrap;
  position: fixed; /* Menú siempre visible arriba */
  top: 0;
  gap: 850px;
  left:   0;
  width: 100%;
  z-index: 1000;
}
/* menu nav bar */
nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
/* menu nav bar */
nav ul li a {
  text-decoration: none;
   color: #f59e0b;
  font-weight: bold;
  position: relative;
  display: inline-block;
  transition: transform 0.3s cubic-bezier(.4,2,.6,1), color 0.2s;
}
/* menu */
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  background: #f59e0b;
  border-radius: 2px;
  transition: width 0.3s cubic-bezier(.4,2,.6,1);
}
/* menu hover  */
nav ul li a:hover {
  transform: translateX(10px);
  color: #fff;
}
nav ul li a:hover::after {
  width: 100%;
}

/* logo */
.logo {
  font-family: 'Shojumaru', cursive;
  font-size: 2rem;
  color: #f59e0b;
  text-align: center;
  text-shadow: 2px 2px 6px #696666;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 10px 0;
}

/* boton buy tickets  */
.buy-tickets {
  margin-left: 0;
  margin-right: 0;
  padding: 8px 18px;
  background: transparent;
  color: #f59e0b;
  border: 2px solid #f59e0b;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
  display: flex;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
}

.buy-tickets:hover {
  background: #f59e0b;
  color: #fff;
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .buy-tickets {
    align-self: flex-end;
    margin-top: 10px;
    
  }
}

.date-badge {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

h2 span {
  display: block;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  line-height: 1.6;
  font-size: 1.1rem;
  background-color: #f59e0b;
  text-align: justify;
}
/* Fondo de selva/cielo */
.hero-section {
  margin-top: 70px; /* Espacio para el menú fijo, ajusta según la altura real del nav */
  position: relative;
  width: 100%;
  height: 1000px; 
  background: url('imagen/menu/paisaje.jpg') center/cover no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  border-bottom: 8px solid #222;
}

/* dragon gif izquierda */
.dragon-gif-left {
  position: absolute;
  top: 60px;
  left: 5%;
  width: 420px;
  height: auto;
  z-index: 10;
  pointer-events: none;
}
/* dragon gif derecha  */
.dragon-gif-right {
  position: absolute;
  top: 60px;
  right: 5%;
  width: 420px;
  height: auto;
  z-index: 10;
  pointer-events: none;
  transform: scaleX(-1); /* Voltea el dragón para que mire hacia el centro */
}
